@import "src/style/variables";

.errorMessageToast {
  height: 100px;
  aspect-ratio: 2/1;

  color: white;
  font-size: 0.7rem;
  font-family: monospace;
  border: 3px solid black;
  background-color: $colError_red !important;
}

.errorMessageBody {
  color: white;
  @extend %font1;
  font-size: 12px;
}