@import "src/style/variables";

.parent{
  @extend %allIN;
  @extend %center;
}


.startFromGame{
  position: fixed;
  top: 0;
  width:100vw;
  height:100vh;
  z-index: 1000;
  display:grid;
  place-items:center;
  background-color: rgba(0,0,0,0.7);

  @extend %font4;
  color: yellow;
  text-shadow: 0 0 50px white;
}