@import "src/style/variables";

.container {
  width: 645px;
  max-height: 460px;

  padding: 15px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;

  border: 1px solid #B9B9B9;

  overflow-y: scroll;
  overflow-x: hidden;

  @extend %scroll;

  @include media-p3 {
    width: 100%;
    grid-template-columns: 100%;
    padding: 10px;
    height: 100%;
  }

  @include media-h1 {
    max-height: 340px;
  }
  @include media-h2 {
    max-height: 280px;
  }
  @include media-h3 {
    max-height: 200px;
  }
}