@import "../../../../style/variables";

$border: 6px;
$margin: 20px;
.parent{
  margin-top: $margin;
  @include media(margin-top, (sm:$md2), (sm:50px));
  margin-right: $margin;
  //width : 1070px + $border*2;
  height: 540px;

  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-column-gap: 125px;
  padding: 35px;

  border: $border solid #522912;
  border-radius: 100px;
  box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.3);
  background-color: #009906;


  &>*{
    //margin-right: 20px;
    //margin-bottom: 20px;
  }

}