@import "src/style/variables";

.block {
  @extend %column;
  align-items: center;
  gap: 30px
}
.body {
  @extend %column;
  gap: 30px;
  align-items: center;
  width: 360px;
}

.buttons {
  display: flex;
  gap: 30px;
}