@import "./../../../../style/variables";

.parent{

  $hideW: 730px;
  $m: 30px;

  position: absolute;
  left: $m*2;
  top: $m;

  @include media(left, (lg:1000px, md:800px, sm:$hideW), (sm: -100%, md:0, lg: $m));

  h1{
    @extend %font;
    font-size: 1.2rem;
    letter-spacing: -1px;
    color:black;
    -webkit-text-stroke: 0 black;
    cursor: default;
  }


  & .pass{
    min-width: 50px;
    background-color: black;
    &:hover{
      background-color: initial;
    }
  }

  //@extend %debugBack;

}

