@import "../../../../style/variables";


.parent{
  position: absolute;
  top: 0;
  left: -100%;
  @extend %allIN;


  border: 3px solid black;
  background-color: orange;
  @extend %font;

  transition: left 0.5s, background-color 0s 0.5s;

  &.vis{
    transition: left 0.5s, background-color 0.5s 0.5s;
    left: 0;
    width: calc(100% + 2px);
    background-color: #6C6C6C;
  }

  .head{
    text-align: center;
  }

  table{
    $side_space: 20px;

    width: 100%;
    border-collapse: collapse;

    thead tr{

      $border: 2px solid black;
      border-top: $border;
      border-bottom: $border;

      th{
        $padding: 15px;
        padding-top: $padding;
        padding-bottom: $padding;

        &:nth-child(1) {
          text-align: left;
          padding-left: $side_space;
        }
        &:nth-child(2) {
          text-align: center;
        }
        &:nth-child(3) {
          text-align: right;
          padding-right: $side_space;
        }
      }
    }

    tbody tr{
      font-size: 0.8rem;
      -webkit-text-stroke: 0px black;
      border-bottom: 1px solid white;
      td{
        padding: 10px 0px;
        &:nth-child(1) {
          text-align: left;
          padding-left: $side_space;
        }
        &:nth-child(2) {
          text-align: center;
        }
        &:nth-child(3) {
          text-align: right;
          padding-right: $side_space;
        }
      }
    }
  }

}