@import "src/style/variables";

.container {
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;

  @include media-p3 {
    height: 100%;
    width: auto;
  }
}

.avatar {
  @extend %allIN;
}

//dead
.cross{
  @extend %centerPos;
  height: 80%;
  width: 80%;
  user-select: none;
  pointer-events: none;
}

//speak
.excl {
  @extend %allIN;
  @extend %column;
  position: relative;
  top: 10px;
  align-items: center;
  .exclPointUp{
    height: 66%;
    width: 22%;
    background-color: #D9D9D9;
    border: 1px solid black;
  }
  .exclPointDown{
    height: 25%;
    width: 25%;
    border-radius: 50%;
    background-color: #D9D9D9;
    border: 1px solid black;
  }

  @include media-p3 {
    top: 0;
  }
}