@import "src/style/variables";

$colCard_hover: yellow;
$colCard_you: black;
$colCard_team: $color-red;
$colCard_vote: #000381;
$colCard_ready: #00FF38;


.container {
  width: $card_width1;
  aspect-ratio: 140/200;

  background: #D9D9D9;
  border: 3px solid #B9B9B9;
  cursor: pointer;
  user-select: none;
  &:hover {
    border-width: 5px;
    border-color: $colCard_hover;
  }
}

.cardRole {
  @extend %center;
  @extend %font4;
  user-select: none;
  &.invis {
    visibility: hidden;
  }
}

.cardPlayer {
  padding: 10px;
  position: relative;
  @extend %column;
  justify-content: space-between;

  &.you{
    box-shadow: 0 0 0 12px $colCard_you
  }
  &.team{
    box-shadow: 0 0 0 5px $colCard_team
  }
  &.you.team {
    box-shadow: 0 0 0 5px $colCard_team, 0 0 0 12px $colCard_you
  }
  &.vote{
    box-shadow: 0 0 0 5px $colCard_vote;
  }

  .ready{
    @extend %allIN;
    @extend %centerPos;
    box-shadow: 0 0 50px 20px $colCard_ready;
    z-index: -1;
  }
  &:hover {
    padding: 8px;
    .counterVotes {
      top: 1px;
      right: 1px;
    }
  }

  .counterVotes{
    height: 20px;
    aspect-ratio: 1/1;
    position: absolute;
    right: 3px;
    top: 3px;

    @extend %center;
    @extend %font1;
    color: $color-red2;

    &.shadow {
      z-index: 15;
    }
  }
  .timer {
    position: absolute;
    @extend %allIN;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);

    @extend %center;
    @extend %font3;
    color: white;
  }

  &:has(.imgRole){
    border: none;
  }
  .imgRole {
    position: absolute;
    @extend %allIN;
    top: 0;
    left: 0;

    pointer-events: none;
  }

  .name{
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    max-height: 45px;

    @extend %font1;
    font-size: 16px;

    &.detectMaf {
      color: $color-red2;
    }
    &.detectCiv {
      color: #28c400;
    }
    &.shadow {
      &:not(.detectCiv, .detectMaf){
        color: white;
      }
      z-index: 15;
    }
  }
}