@import "src/style/variables";

.overlay{
    position: fixed;
    top: 78px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);

    @extend %center;
}

.content{
    position: relative;
    width: 750px;
    height: 308px;
    background: #E4E4E4;
    border: 3px solid #B9B9B9;
    padding: 60px;
    @extend %column;

    .question{
        @extend %font2;
        text-align: center;
    }
    .btns{
        display: flex;
        justify-content: space-between;
    }
}



.content_avatar {
    width: 739px;
    height: 717px;
    background-color: #B9B9B9;

    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}