@import "src/style/variables";

$imgSize: 60%;
$btnSize: 55px;

$transTimeLong: 0.3s;
$transTimeFast: 0.1s;



.container {
  width: $btnSize;
  height: $btnSize;

  @extend %center;

  background-color: $color-red2;
  border: 3px solid #AF2A2A;

  img{
    height: $imgSize;
    aspect-ratio: 1/1;
    @include transSize($transTimeLong);
    user-select: none;
    pointer-events: none;
  }

  &:hover img {
    height: $imgSize * 1.5;
  }
}

.container.secondary {
  border: 3px solid #252525;
  background-color: #C61212;
}