@import "src/style/variables";

.container {
  width: 100%;
  height: 55px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  @extend %font1;
  background-color: $color-red2;
  border: 3px solid #AF2A2A;
}

.imgCont{
  height: 100%;
  aspect-ratio: 1/1;

  @extend %center;

  img{
    height: 90%;
  }
}