@use "sass:math";
@import "src/style/variables";

$btnsWidth: 51px;
.parent{

  @extend %allIN;
    width: 24%;
    @include media(width, (sm:$md), (sm:70%));

  position: relative;
  z-index: 2;
  @include media(left, (sm:$md), (sm:-70%));

  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  box-shadow: 20px 0px 5px -5px rgba(0, 0, 0, 0.3);
  @extend %font;

  transition: left 0.5s;
  &.vis{
    left: 0;
  }

  .info,.log{
    height: 50%;
    width: 100%;
    padding: 10px;
    overflow: hidden;
    overflow-y: scroll;
  }

  .info{
    border-bottom: 2px solid black;
    //width: calc(100% + 1px);
    li{
      margin-bottom: 40px;
    }
  }

  .log{
    font-size: 0.8rem;
    overflow-y: scroll;
    border-top: 4px solid black;
    @extend %scroll;
    li{
      margin-bottom: 20px;
    }
  }

  .btns{
    $borderBtn: 4px;
    aspect-ratio: 1/2;

    position: absolute;
    right: -$btnsWidth;
    @include autoMedia(right, (gsm: -$btnsWidth*0.8));
    top: -1px;

    @extend %column;

    button{
      border: $borderBtn solid black;
      background-color: $colBtn_yellow !important;

      &:first-child{
        border-bottom-width: math.div($borderBtn, 2);
      }
      &:nth-child(2){
        border-top-width: math.div($borderBtn, 2);
        @include media(border-bottom-width, (sm:$md), (sm:math.div($borderBtn, 2)));
      }
      &:last-child{
        display: none;
        @include media(display, (sm:$md), (sm:block));
        border-top-width: math.div($borderBtn, 2);
      }

      img{
        height: 90%;
      }
      &:active img{
        height: 50%;
      }
    }


  }

}