@use "sass:math";
@import "../../../../style/variables";


.parent{

  @extend %allIN;

  position: relative;
  z-index: 2;

  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  box-shadow: 20px 0px 5px -5px rgba(0, 0, 0, 0.3);
  @extend %font;


  .info,.log{
    height: 50%;
    width: 100%;
    padding: 10px;
  }

  .info{
    border-bottom: 2px solid black;
    //width: calc(100% + 1px);
    li{
      margin-bottom: 40px;
    }
  }

  .log{
    font-size: 0.8rem;
    overflow-y: scroll;
    border-top: 4px solid black;
    li{
      margin-bottom: 20px;
    }
  }

  .btns{
    $borderBtn: 4px;
    aspect-ratio: 1/2;

    position: absolute;
    right: -51px;
    top: -1px;

    @extend %column;

    button{
      border: $borderBtn solid black;
      background-color: $colBtn_yellow !important;

      &:first-child{
        border-bottom-width: math.div($borderBtn, 2);
      }
      &:last-child{
        border-top-width: math.div($borderBtn, 2);
      }

      img{
        height: 90%;
      }
      &:active img{
        height: 50%;
      }
    }


  }

}