@import "../../../../style/variables";

.parent{

  height: 200%;
  width: 150px;
  z-index: 3 ;

  @extend %center;
  position: relative;
  bottom: 40px;


  @extend %timerFont;


  //border: $DEV_border;
}