@import "src/style/variables";

.container {
  width: 234px;
  height: 55px;

  @extend %center;

  @extend %font1;
  background-color: $color-red2;
  border: 3px solid #AF2A2A;
}

.container.secondary {
  border: 3px solid #252525;
  background-color: #C61212;
}