@import "../../../style/variables";

.parent{
  height: $hBtn+10px;
  width: $wBtn;

  background-color: rgba(0, 0, 0, 0);
  border: 0;
  @extend %center;

  .label{
    height: $hBtn;
    width: $wBtn;

    position: relative;
    bottom: 0;
    border-radius: 30px;
    border: 0;

    @extend %center;

    box-shadow:  0 7px 5px -3px rgba(0, 0, 0, 0.5);
    background-color: $colBtn_green;

    transition: bottom 0.1s ease-in-out;
    //font
    @extend %font;
    @extend %fontBtn;
  }

  &:disabled{
    .label{
      background-color: $colBtn_grey;
    }
  }

  &:hover{
    .label{
      bottom: 8px;
    }
  }

  &:focus-visible{
    outline: 1px solid black;
  }

  &.attention .label{
    animation-name: shadow;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}

.yellow{
  .label{
    background-color: $colBtn_yellow;
  }
}

.red{
  .label{
    background-color: $colBtn_red;
  }
}
