@import "./variables";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

//defaults

html{
  font-family: "Noto Serif", serif;
  color: $color-black;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  list-style: none;
}

input {
  all: unset;
  box-sizing: border-box;
}
button{
  all: unset;
  cursor: pointer;
  box-sizing: border-box;
}

//MAIN
.App{
  height: 100vh;
  width: 100vw;

  background-color: $color-grey3;

  position: relative;

  overflow: hidden;
}

.reconnectBtn{
  $m: 10px;
  position: absolute;
  left: $m;
  top: $m;
}



//PAGES
%page{
  height: 100%;
  width: 100%;
}

.authPage{

  @extend %page;
  @extend %center;

  .inputCont{
    height: 350px;
    @extend %column;
    align-items: center;
  }

}

.enterPage{

  @extend %page;

  .inputCont {
    height: calc(100% - 78px);
  }

}

.startPage{
  @extend %page;

  .buttonContainer{
    height: calc(100% - 78px);
  }

  .buttonContainer>div {
    @extend %column;
    gap: 23px;
  }
}

.statPage{
  @extend %page;
  @extend %center;
  @extend %column;

  padding: 15px 0;

  h1{
    position: relative;
    @extend %font;
    font-size: 1.3rem;
    letter-spacing: -1px;
    color:black;
    -webkit-text-stroke: 0 black;
  }

  .row {
    display: flex;
    justify-content: space-between;
  }

  .statWindow {
    padding: 20px;
  }
}

.prepPage{
  @extend %page;

  .formBlock{
    height: calc(100% - 78px);
    h2 {
      @extend %font3;
      text-align: center;
      margin-bottom: 30px;
    }
  }
}

.gamePage{
  @extend %page;
  position: relative;
  overflow: hidden;

  @if($debug){
    @include media(background-color,
            (lg:$lg,md:$md,sm:$sm),
            (lg:red,md:green,sm:blue));
  }


  &>*{
    position: absolute;
  }

  $leftMargin: 50px;
  .right{
    height: 100vh;
    width: 70%;
    right: 0;
    padding-left: $leftMargin;
    @include media(width, (sm:$md), (sm:100%));
  }

  .btnCont{
    position: absolute;
    bottom: 15px;
    left: $leftMargin;

    display: flex;
    height: 50px;

    &>button:first-child{
      position: relative;
      z-index: 2;
    }

    //&>button:last-child{
    //  position: relative;
    //  z-index: 3;
    //  font-size: 0.95rem;
    //  line-height: 15px;
    //}

    &>*{
      margin-right: 70px;
    }
  }

  .gameBack{
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.7);
  }
}


.centerBodyPage {
  height: calc(100% - 78px);
  display: flex;
  justify-content: center
}