@import "./variables";

//defaults

html{
  font-size: 25px;
  background-color: $colBack_white;
  @include autoMedia(font-size, (gsm: 20px))
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  list-style: none;
}

button{
  cursor: pointer;
}

h1{
  font-size: 2rem;
}
h2{
  font-size: 1.5rem;
}
h3{
  font-size: 1.25rem;
}
h4{
  font-size: 1.1rem;
}

//MAIN
.App{

  height: 100vh;
  width: 100vw;

  background-color: $colBack_white;

  position: relative;

  overflow: hidden;
}

.reconnectBtn{
  $m: 10px;
  position: absolute;
  left: $m;
  top: $m;
}



//PAGES
%page{
  height: 100%;
  width: 100%;
}

.authPage{

  @extend %page;
  @extend %center;

  .inputCont{
    height: 350px;
    @extend %column;
    align-items: center;
  }

}

.enterPage{

  @extend %page;
  @extend %center;

  //@include transPosRight(1s);
  //position: relative;
  //right: 0;
  //
  //&.out{
  //  right: -100vw;
  //  @include transPosRight(1s);
  //}

  .inputCont{
    height: 150px;
    @extend %column;
    align-items: center;
  }

}

.startPage{

  @extend %page;
  @extend %center;

  .btnCont{
    height: 300px;
    @extend %column;
  }
}

.prepPage{
  @extend %page;
  @extend %center;
  @extend %column;

  padding: 15px 0;

  h1{
    position: relative;
    @extend %font;
    font-size: 1.3rem;
    letter-spacing: -1px;
    color:black;
    -webkit-text-stroke: 0 black;
  }
}

.gamePage{
  @extend %page;
  position: relative;
  overflow: hidden;

  @if($debug){
    @include media(background-color,
            (lg:$lg,md:$md,sm:$sm),
            (lg:red,md:green,sm:blue));
  }


  &>*{
    position: absolute;
  }

  $leftMargin: 50px;
  .right{
    height: 100vh;
    width: 70%;
    right: 0;
    padding-left: $leftMargin;
    @include media(width, (sm:$md), (sm:100%));
  }

  .btnCont{
    position: absolute;
    bottom: 15px;
    left: $leftMargin;

    display: flex;
    height: 50px;

    &>button:first-child{
      position: relative;
      z-index: 2;
    }

    //&>button:last-child{
    //  position: relative;
    //  z-index: 3;
    //  font-size: 0.95rem;
    //  line-height: 15px;
    //}

    &>*{
      margin-right: 70px;
    }
  }

  .gameBack{
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.7);
  }
}
