//Buttons
$hBtn: 50px;
$wBtn: 175px;

$colBtn_green: #33FF00;
$colBtn_red: #FF0000;
$colBtn_yellow: #FAFF00;
$colBtn_grey: #C7C7C7;

%fontBtn{
  font-size: 1rem;
  letter-spacing: 3px;
}

//Inputs
$hInp: 54px;
$wInp: 325px;



//Other
$colBack_white: #D9D9D9;

$colBorder_blue: #0066FF;

%font{
  color: white;
  font-weight: 1000;
  font-family: 'Inter', sans-serif;
  -webkit-text-stroke: 1px #000000;
}

%center{
  display: flex;
  justify-content: center;
  align-items: center;
}

%column{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}



