//@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

//Buttons
$hBtn: 50px;
$wBtn: 175px;

$colBtn_green: #33FF00;
$colBtn_red: #FF0000;
$colBtn_yellow: #FAFF00;
$colBtn_grey: #C7C7C7;

%fontBtn{
  font-size: 1rem;
  letter-spacing: 3px;
}

//Inputs
$hInp: 54px;
$wInp: 325px;



//Other
$DEV_border: 1px solid red;

$colBack_white: #D9D9D9;

$colBorder_blue: #0066FF;

$colCard_blue: #00FFF0;

$colError_red: #FF3737;

%font{
  color: white;
  font-weight: 1000;
  font-family: 'Inter', sans-serif;
  -webkit-text-stroke: 1px #000000;
}

%allIN{
  height: 100%;
  width: 100%;
}

%center{
  display: flex;
  justify-content: center;
  align-items: center;
}

%centerPos{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%column{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

%scroll{
  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 3px solid transparent;
    background-clip: content-box;
    background-color: #8070d4;
  }
}

//color
@mixin transBGC($time){
  transition: background-color $time ease-in-out;
}

//size
@mixin transSize($time){
  transition: height $time ease-in-out, width $time ease-in-out;
}

//position
@mixin transPos($time) {
  transition: top $time cubic-bezier(0.175, 0.885, 0.32, 1.275);
}



