@import "src/style/variables";

$card_height: 575px;
$button_height: 50px;


.container {

  position: absolute;
  bottom: -$card_height;
  right: 50px;
  z-index: 2;

  width: 380px;
  height: $card_height + $button_height;


  @extend %column;
  @extend %center;

  @if($debug) {
    border: 1px solid red;
  }

  transition: bottom 0.5s, top 0.5s;


  &.vis{
    bottom:0;

    .button img{
      transform: rotate(180deg) ;
    }
  }
  &.maf .myCard {
    background-color:  rgb(127, 38, 38);
  }
  &.civ .myCard {
    background-color: #86861f;
  }
  &.doc .myCard {
    background-color: #388827;
  }
  &.det .myCard {
    background-color: #2b628c;
  }
}

.button{
  width: 150px;
  aspect-ratio: 2/1;
}


.myCard{
  position: relative;
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  border: 5px solid black;
  @extend %center;

  img{
    @extend %allIN;
    -webkit-user-drag: none;
    user-select: none;
    transform: scale(0.8);
    position: relative;
    bottom: 30px;
  }
  .description{
    position: absolute;
    bottom: 0;

    padding: 10px;
    text-align: center;
    @extend %font;
    font-weight: 700;
  }
}