@import "../../../style/variables";

.parent{
  height: 650px;
  width: 485px;
  @include media(width, (md:$md2),(md:380px));

  position: relative;

  border: 5px solid #0066FF;
  border-radius: 30px;
  background-color: rgba(0,0,0,0);
  box-shadow: 10px 10px 3px 3px rgba(0, 0, 0, 0.25);



  .inputCont{
    $top: 30px;

    width: 100%;
    height: calc(100% - #{$hBtn*2 + $top});

    margin-top:$top;

    @extend %center;
    @extend %column;
    justify-content: space-around;

    //border: 3px solid red;

    //for find page
    &>.thinCont{
      width: 100%;
      height: $hInp*2 + 20px;

      @extend %column;
      align-items: center;
      justify-content: space-between;
    }

    //for create page
    &>.settingsBtn{
      height: $hInp;
      width: $wInp;

      position: relative;

      padding-left: 10px;
      background-color: $colBtn_yellow;
      border: 3.5px solid black;
      @extend %font;
      font-size: 0.9rem;
      letter-spacing: -1px;
      text-align: left;

      &:disabled{
        background-color: grey;
      }

      .imgCont{
        position: absolute;
        right: 0;
        top: 0;

        height: 100%;
        aspect-ratio: 1/1;

        @extend %center;

        img{
          height: 80%;
        }
      }

    }

    & .inSettingsSelect{
      height: $hInp;
      width: $wInp;

      border: 3px solid black;

      background-color: #B7B7B7;
      font-weight: 700;
    }
    & .inSettingsOption{
      height: $hInp;
      width: $wInp;

      background-color: #B7B7B7;
      font-weight: 700;
      
      &:hover{
        cursor: pointer;
        background-color: rgba(0,0,0,0);
      }
    }
    & .inSettingsMenu{
      background-color: #6e6e6e;
    }

    //for prepare page
    &>.count{
      width: 85%;
      height: 65px;

      padding: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;


      border: 1px solid black;
      box-shadow: 0 8px 7px -5px rgba(34, 60, 80, 0.7);
      @extend %font;
      font-size: 0.8rem;
      letter-spacing: -1px;
      color:black;
      -webkit-text-stroke: 0 black;

      span{
        -webkit-text-stroke: 0.5px black;
      }
      .load{
        height: 100%;
        width: 100%;

        ul{
          @extend %allIN;
          display: flex;
          justify-content: space-between;
          li{
            height: 100%;
            width: 15%;
            background-color: #33FF00;
            opacity: 0.3;
          }
        }
      }
    }

    &>.players{
      width: 85%;
      height: 280px;

      overflow-y: auto;
      overflow-x: hidden;

      border: 1px solid black;
      box-shadow: 0 8px 7px -5px rgba(34, 60, 80, 0.7);

      @extend %scroll;

      &>*:first-child{
        margin-top: 15px;
      }
      &>*{
        margin-bottom: 15px;
        margin-right: auto;
        margin-left: auto;
      }


    }

  }

  .btnCont{
    width: 100%;
    height: $hBtn*2;
    position: absolute;
    bottom: 0;


    display: flex;
    align-items: center;
    justify-content: space-around;


    //border: 3px solid red;

  }

}
