@import "src/style/variables";

$border: 6px;
$margin: 20px;
.parent{
  margin-top: $margin;
  margin-right: $margin;
  height: 540px;


  display: grid;
  grid-template-columns: repeat(5,1fr);
  justify-items: center;
  align-items: center;
  grid-auto-rows: 50%;

  //display: flex;
  //flex-wrap: wrap;

  padding: 10px;
  overflow: auto;
  @extend %scroll;

  border: $border solid #522912;
  //border-radius: 100px;
  box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.3);
  background-color: #009906;

  @include media(margin-top, (sm:$md2), (sm:50px));
  @include media(height, (xxsm:$md2),(xxsm:400px));
  @include autoMedia(height, (gsm: 80%));
  @include autoMedia(margin-top, (gsm:0));
  @include autoMedia(margin-right, (gsm:0));

  &>*{
    //margin-right: 20px;
    //margin-bottom: 20px;
  }
}


$num_columns1: 5;
$pad1: 30px;
$pad2: 25px;
$gap: 35px;

.container {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1;

  width: 65vw;
  height: 80vh;
  min-height: $card_height1 * 3 + $pad1 * 2 + 15px + $gap * 2;
  min-width: $card_width1 * $num_columns1 + $pad1 * 2 + 5 * $gap;

  padding: $pad1;
  border-radius: 34px;
  background: #4D6863;
  border-bottom: 15px solid #442908;

  display: grid;
  grid-template-columns: repeat($num_columns1,1fr);
  gap: $gap;
  justify-items: center;
  align-items: center;


  overflow: auto;
  overflow-x: hidden;
  @extend %scroll;


  @include media-p1 {
    right: 10px;
    top: 10px;
    min-width: $card_width1 * ($num_columns1 - 1) + $pad1 * 2 + 5 * $gap;
    grid-template-columns: repeat($num_columns1 - 1,1fr);
  }

  @include media-p2 {
    width: calc(100vw - 70px);
    right: initial;
    left: 60px;
    padding: $pad2;
    min-width: 0;
  }

  @include media-p3 {
    display: flex;
    flex-direction: column;
  }
}