@import "src/style/variables";

.container {
  height: 100%;
  width: calc(800 * 100% /1920);
  min-width: 645px;

  @extend %center;

  background-color: $color-grey4;
  border-inline: $color-grey1 solid 2px;

  margin: auto;
  padding: 20px;

  @include media-p3 {
    min-width: 400px;
  }
  @include media-p4 {
    min-width: initial;
    width: 100%;
    border: none;
  }
}